openapi: 3.0.1
info:
  title: Integrazione ANPR-INAD
  description: |-
    API rese disponibili da ANPR al Catalogo delle API previsto nel modello di interoperabilità delle pubbliche amministrazioni accessibile da INAD.
    Pattern Model applicati:
    - [ID_AUTH_CHANNEL_02] Direct Trust Mutual Transport-Level Security
    - [BLOCK_REST] Blocking REST
    - [INTEGRITY_REST_01] Integrità del payload messaggio REST
  contact:
    name: AgID - Agenzia per l'Italia Digitale
    email: Assistenza.anpr@pec.sogei.it
  version: 1.0.0
servers:
  - url: https://modipa-val.anpr.interno.it/govway/rest/in/MinInternoPortaANPR/anpr-inad/v1
    description: Generated server url
tags:
- name: bulk
  description: Operazioni su più di un domicilio.
- name: cittadino
  description: Operazioni su un singolo cittadino.
paths:
  /receive_status_change:
    post:
      operationId: receive_status_change
      tags:
        - cittadino
      description: |-
        Notifica lo stato di un CITTADINO identificativo tramite il codice fiscale.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyStatus'
      security:
        - bearerAuth: []
          Agid-JWT-Signature: []
      responses:
        '200':
          description: notifica ricevuta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACK'
          headers:
            Agid-JWT-Signature:
              $ref: '#/components/headers/Agid-JWT-Signature'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /receive_changed_email:
    post:
      operationId: receive_changed_email
      tags:
        - cittadino
      description: |-
        Notifica la nuova mail associata a un CITTADINO identificativo tramite il codice fiscale.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyNewEmail'

      security:
        - bearerAuth: []
          Agid-JWT-Signature: []

      responses:
        '200':
          description: notifica ricevuta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACK'
          headers:
            Agid-JWT-Signature:
              $ref: '#/components/headers/Agid-JWT-Signature'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /receive_changed_digital_addresses:
    post:
      description: ricevi disponibilità variazioni di domicili digitali delle ultime 24h
      operationId: receive_changed_digital_addresses
      tags:
      - bulk
     
      requestBody:
        required: true
        content:
         application/json:
            schema:
              $ref: '#/components/schemas/NotifyChangedDigitalAddresses'

      security:
        - bearerAuth: []
          Agid-JWT-Signature: []

      responses:
        '200':
          description: notifica ricevuta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACK'
          headers:
            Agid-JWT-Signature:
              $ref: '#/components/headers/Agid-JWT-Signature'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'


components:
  headers:
    Agid-JWT-Signature:
      description: |-
       Vedi Modi [integrity_rest_01] Integrità del payload del messaggio REST

      schema:
        type: string
        format: JWT
        maxLength: 4096
        example: eyJzd.fafa.fafafa
  responses:
    '400':
      description: BAD_REQUEST
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '401':
      description: UNAUTHORIZED
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '403':
      description: FORBIDDEN
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '404':
      description: NOT_FOUND
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '500':
      description: INTERNAL_SERVER_ERROR
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '503':
      description: SERVICE_UNAVAILABLE
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
  schemas:
    NotifyStatus:
      type: object
      additionalProperties: false
      description: |-
        La notifica di variazione dello status di un CITTADINO.
        La notifica contiene l'identificativo ed il codice della richiesta
        originariamente fatta dal CITTADINO.
      required:
        - id_request
        - request_code
        - codice_fiscale
        - citizen_status
        - reason
      properties:
        id_request:
          $ref: '#/components/schemas/ID_Request'
        request_code:
          $ref: '#/components/schemas/Request_Code'
        codice_fiscale:
            $ref: '#/components/schemas/Codice_Fiscale'
        citizen_status:
          $ref: '#/components/schemas/Citizen_Status'
        reason:
          $ref: '#/components/schemas/Citizen_Change_Status_Reason'
    NotifyNewEmail:
      type: object
      additionalProperties: false
      description: |-
        La notifica di variazione della email di contatto di un CITTADINO.
        NOTA: a differenza di `NotifyStatus` la notifica contiene
        l'identificativo della richiesta ma non il codice della richiesta.
      required:
        - id_request
        - codice_fiscale
        - email
      properties:
        id_request:
            $ref: '#/components/schemas/ID_Request'
        codice_fiscale:
            $ref: '#/components/schemas/Codice_Fiscale'
        email:
            $ref: '#/components/schemas/Email'


    Errore:
      required:
        - status
        - title
      type: object
      additionalProperties: false
      description: Modello di risposta in caso di errore
      properties:
        status:
          type: integer
          format: int32
          description: Codice di errore
          example: 400
          maximum: 600
          minimum: 100
        title:
          type: string
          description: Tipologia di errore
          example: BAD_REQUEST
          enum:
            - BAD_REQUEST
            - UNAUTHORIZED
            - FORBIDDEN
            - NOT_FOUND
            - INTERNAL_SERVER_ERROR
            - SERVICE_UNAVAILABLE
        detail:
          type: string
          description: Descrizione di dettaglio dello specifico problema verificatosi
          example: <detail_error>
          maxLength: 1024
    ID_Request:
        type: string
        pattern: ^INAD_[0-9]{8,8}_[0-9]{10,10}
        description: identificativo unico della request composto da INAD come indicazione del sistema che ha effettuato la richiesta, aaaammdd data di riferimento e nnnnnnnnnn progressivo della richiesta

    Codice_Fiscale:
      type: string
      pattern: ^[a-zA-Z]{6}[0-9]{2}[a-zA-Z]{1}[0-9]{2}([a-zA-Z]{1}[0-9]{3})[a-zA-Z]{1}$

    Citizen_Status:
      type: string
      enum:
        - citizenNotPresent
        - digitalDomicileNotPresent
        - inCharge
        - verify
        - confirmationRequestSent
        - awaitingPublication
        - waitingOfficeCancellation
        - digitalDomicilePresent
        - waitingVoluntaryCancellation

    Email:
      type: string
      pattern: ^([a-zA-Z0-9_\-\.]+){0,64}@([a-zA-Z0-9_\-\.]+){0,254}\.([a-zA-Z]{2,5})$

    Digital_Address:
      $ref: '#/components/schemas/Email'

    Request_Code:
      type: string
      pattern: ^(INAD|ANPR|APPIO)_[0-9]{10,10}

    ACK:
      type: object
      required:
        - description
        - id_request
      properties:
        description:
          type: string
          enum:
            - notificationReceived
        id_request:
          $ref: '#/components/schemas/ID_Request'

    Citizen_Change_Status_Reason:
      type: string
      enum:
        - citizenRegistration
        - electionRequest
        - changeRequest
        - voluntaryCancellationRequest
        - startVerification
        - OKVerificationForElection
        - OKVerificationForChange
        - KOVerificationForElection
        - KOVerificationForChange
        - electionConfirmed
        - changeConfirmed
        - after90dd
        - electionAbolition
        - changeAbolition
        - electionPubblished
        - changePubblished
        - voluntaryCancellationPubblished
        - officeCancellationPubblished
        - officeCancellation
        - after30dd
        - specialCaseCancellation

    NotifyChangedDigitalAddresses:
      type: object
      required:
       - id_request
       - since
       - total_element
      properties:
        id_request:
           $ref: '#/components/schemas/ID_Request'
        since:
            type: string
            format: date
            example: '2020-01-01'
        total_element:
          type: integer
            
  securitySchemes:
    bearerAuth:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: |-
        Implementazione conforme ad RFC8725.
    Agid-JWT-Signature:
      type: apiKey
      in: header
      name: Agid-JWT-Signature
      description: |-
        Vedi Modi [integrity_rest_01] Integrità del payload del messaggio REST
